/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --primary-shade: #3db02d;
    --secondary-shade: #ffac10;
    --tertiary-shade: #a6a6a6;
    --dark-shade: #737373;
    --light-shade: #eeeeee;
    --red-shade: #c50f0fe3;
    --font-primary: Arial, sans-serif;

    /* Map ionic primary color */
    --ion-color-primary: var(--primary-shade);
    --ion-color-secondary: var(--secondary-shade);
    --ion-color-secondary-contrast: #ffffff;
}

/* Align items in center */
.center-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.center-card {
    width: 380px;
    --background: transparent;
    --box-shadow: none;
    box-shadow: none !important;
}

.center-separator {
    text-align: center;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.center-welcome {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;             
    width: 100%;              
    flex-direction: column;  
    text-align: center;
}

.adjust-content {
    margin-top: 20px; 
}

.adjust-container {
    padding: 20px 10px;
}

.adjust-background {
    --background: transparent;
}

.center-header {
    font-size: 36px;
    color:  var(--primary-shade);
    font-weight: bold;
    font-family: var(--font-primary);
    margin-top: 5px;
}

.center-description {
    font-size: 12px;
    color: var(--tertiary-shade);
    padding: 10px 20px;
    margin-top: -5px;
}

.logo-header {
    height: 60px;
    width: auto;
}

.logo-mainpage {
    height: 170px;
    width: 170px;
}

/* auth page */
.logo-auth {
    height: 170px;
    width: auto;
    margin-bottom: 20px;
}

.inpt-auth {
    --border-radius: 30px;
}

.btn-auth {
    margin-top: 25px;
    width: 100%;
    height: 50px;    
    --box-shadow: none;
    --color: var(--light-shade);
}

.btn-auth-google {
    width: 100%;
    height: 50px;    
    --box-shadow: none;
    --color: var(--light-shade);
    --background: var(--red-shade);
}

.txt-container {
    text-align: center;
    margin-top: 50px;
}

.txt-auth {
    color: var(--tertiary-shade);
}

.txt-container-footer {
    --background: transparent;
    --box-shadow: none;
    --border: none;
}

.txt-copyright {
    font-size: 12px;
    text-align: center;
    background: transparent;
}

.line {
    flex: 1;                         /* expand to fill available space */
    height: 1px;
    background: var(--tertiary-shade); /* line color */
    display: block;
}

.links {
    margin-top: 10px;
    color: var(--secondary-shade);
}

.links-container {
    margin-top: 20px;
}

.links-checks {
    color: var(--secondary-shade);
}
