/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --primary-shade: #3db02d;
    --secondary-shade: #ffac10;
    --tertiary-shade: #a6a6a6;
    --dark-shade: #737373;
    --light-shade: #eeeeee;
    --font-primary: Arial, sans-serif;

    /* Map ionic primary color */
    --ion-color-primary: var(--primary-shade);
    --ion-color-secondary: var(--secondary-shade);
    --ion-color-secondary-contrast: #ffffff;
}

/* Align items in center */
.center-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-card {
    width: 380px;
    --background: transparent;
    --box-shadow: none;
}

.center-welcome {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;             
    width: 100%;              
    flex-direction: column;  
    text-align: center;
}

.adjust-content {
    margin-top: 20px; 
}

.adjust-container {
    padding: 20px 10px;
}

.adjust-background {
    --background: transparent;
}

.center-header {
    font-size: 36px;
    color:  var(--primary-shade);
    font-weight: bold;
    font-family: var(--font-primary);
    margin-top: 5px;
}

.center-description {
    font-size: 12px;
    color: var(--tertiary-shade);
    padding: 10px 20px;
    margin-top: -5px;
}

.logo-header {
    height: 60px;
    width: auto;
}

.logo-mainpage {
    height: 170px;
    width: 170px;
}

.logo-auth {
    height: 120px;
    width: auto;
}

.inpt-auth {
    --border-radius: 30px;
}

.btn-auth {
    margin-top: 20px;
    width: 100%;
    height: 50px;    
    --box-shadow: none;
}
