/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --primary-shade: #3db02d;
    --secondary-shade: #ffac10;
    --tertiary-shade: #a6a6a6;
    --dark-shade: #737373;
    --light-shade: #eeeeee;
    --red-shade: #c50f0fe3;
    --light-red-shade: #e71c1ce3;

    --highlight-primary: #013220;
    --highlight-neon: #0FFF50;

    --font-primary: Arial, sans-serif;
    --font-header: 'HeaderFont', sans-serif;
    --font-header-title: 'HeaderTitle', sans-serif;

    --logout-button-bg: var(--red-shade);

    /* Map ionic primary color */
    --ion-color-primary: var(--primary-shade);
    --ion-color-secondary: var(--secondary-shade);
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-danger: var(--light-red-shade);
}

/* FONTS */
@font-face {
    font-family: 'HeaderFont';
    src: url('../../src/assets/fonts/ValentineMonster.ttf') format('truetype');
}

@font-face {
    font-family: 'HeaderTitle';
    src: url('../../src/assets/fonts/Instagram_Sans_Headline.otf') format('truetype');
}

/* HOME PAGE */
.home-header-bg {
    --background: transparent
}

.home-header {
    font-size: 28px;
    font-family: var(--font-header);
}

.home-icon {
    font-size: 26px;
    color: var(--light-shade);
}

.home-searchbar {
    --icon-color: var(--primary-shade);
}

.home-chip {
    --background: var(--highlight-primary);
    --color: var(--highlight-neon);
    --border-radius: 20px;
    --box-shadow: none;
}

/* HOME THREAD POST */
.home-thread-post {
    margin: 10px;
    --background: var(--ion-background-color);
}

.home-post-avatar {
    width: 40px;
    height: 40px;
}

.home-post-photo {
    object-fit: cover;
}

.home-post-name {
    font-size: 14px;
    font-weight: bold;
    color: var(--secondary-shade);
}

.home-post-date {
    font-size: 12px;
    color: var(--tertiary-shade);
    margin: 0;
}


.home-thread-title {
    font-size: 34px;
    font-weight: bold;
    color: var(--ion-text-color);
    margin: 0 0 10px 0;
}

.home-thread-content {
    font-size: 14px;
    color: var(--dark-shade);
    line-height: 1.5;
    margin: 0;
}

.home-thread-actions {
    border-top: 1px solid var(--ion-border-color);
    padding-top: 10px;
}

.home-action-button {
    --color: var(--tertiary-shade);
    text-transform: none;
    font-size: 14px;
}

.action-button ion-icon {
    font-size: 20px;
}

/* PROFILE PAGE*/
.txt-highlight {
    color: var(--tertiary-shade);
    margin-top: 10px;
    margin-left: 15px;
}

.txt-highlight-description {
    padding-left: 45px;
    font-size: 12px;
}

.auth-profile {
    color: var(--light-red-shade);
}

.profile-message-details {
    color: var(--secondary-shade);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-message-text {
    margin: 0;
    font-size: 14px;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    margin: auto;
}

.profile-avatar-logout {
    width: 40px;
    height: 40px;
    margin: auto;
    border: var(--light-red-shade) 1px solid;
}

.profile-image {
    object-fit: cover;
}

.profile-name {
    color: var(--secondary-shade);
}

.profile-email {
    color:var(--tertiary-shade);
    font-size: 14px;
    margin-top: 0;
}

.profile-about-label {
    font-size: 18px;
    font-weight: 600;
}

.profile-thread-header {
    font-size: 18px;
    color: var(--tertiary-shade);
}

.profile-thread-sub {
    font-size: 14px;
    color: var(--dark-shade);
}

.profile-thread-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38vh;
}

/* AUTH SIGN UP */
.auth-title {
    font-family: var(--font-header);
    font-size: 36px;
}

.auth-title-signin {
    font-family: var(--font-header);
    font-size: 42px;
    margin: 30px 0px;
}

.auth-sub-title {
    font-size: 16px;
    margin: 0 30px;
    font-weight: bold;
    color: var(--tertiary-shade);
}

.auth-reminder {
    font-size: 12px;
    color: var(--tertiary-shade);
    margin-top: 20px;
}

.auth-service {
    font-size: 12px;
    color: var(--tertiary-shade);
    margin-top: 20px;
}

.auth-link-highlight {
    color: var(--secondary-shade);
    text-decoration: none;
}

.auth-sponsor {
    font-size: 14px;
    color: var(--tertiary-shade);
    text-decoration: none;
}

.auth-google-button {
    --background: var(--red-shade);
    --color: var(--light-shade);
    --box-shadow: none;
    width: 100%;
    height: 50px;
}

.auth-google-signin {
    --color: var(--primary-shade);
    --border: 1px solid var(--primary-shade);
    --box-shadow: none;
    width: 100%;
    height: 50px;
}

.auth-signup {
    --color: var(--light-shade);
    --box-shadow: none;
    width: 100%;
    height: 50px;
}

.auth-swap {
    color: var(--tertiary-shade);
}

.auth-line {
    flex: 1;                         
    height: 1px;
    background: var(--tertiary-shade);
    display: block;
}

.center-separator {
    color: var(--tertiary-shade);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    font-size: 14px;
    margin: 20px 0px;
}

/* Align items in center */
.center-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-card {
    width: 380px;
    --background: transparent;
    --box-shadow: none;
    box-shadow: none !important;
}

.center-welcome {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;             
    width: 100%;              
    flex-direction: column;  
    text-align: center;
}

.profile-container {
    width: 100%;
    max-width: 800px;
    padding: 0 10px;
}

.adjust-content {
    margin-top: 20px; 
}

.adjust-container {
    padding: 20px 10px;
}

.adjust-background {
    --background: transparent;
}

.align-header {
    display: flex;
    align-items: center;
    gap: 2px;
}

.center-header {
    font-size: 36px;
    color:  var(--primary-shade);
    font-weight: bold;
    font-family: var(--font-primary);
    margin-top: 5px;
}

.center-description {
    font-size: 12px;
    color: var(--tertiary-shade);
    padding: 10px 20px;
    margin-top: -5px;
}

.logo-header {
    height: 60px;
    width: auto;
}


.logo-mainpage {
    height: 170px;
    width: 170px;
}

/* auth page */
.logo-auth {
    height: 170px;
    width: auto;
}

.inpt-auth {
    --border-radius: 30px;
}

.btn-auth {
    margin-top: 25px;
    width: 100%;
    height: 50px;    
    --box-shadow: none;
    --color: var(--light-shade);
}

.btn-auth-google {
    width: 100%;
    height: 50px;    
    --box-shadow: none;
    --color: var(--light-shade);
    --background: var(--red-shade);
}


.txt-container {
    text-align: center;
    margin-top: 50px;
}

.txt-auth {
    color: var(--tertiary-shade);
}

.txt-main-header {
    margin-bottom: 40px;
}

.txt-container-footer {
    --background: transparent;
    --box-shadow: none;
    --border: none;
}

.txt-copyright {
    font-size: 12px;
    text-align: center;
    background: transparent;
}



.links {
    margin-top: 10px;
    color: var(--secondary-shade);
}

.links-container {
    margin-top: 20px;
}

.links-checks {
    color: var(--secondary-shade);
}
